body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3fbf9;
}

header section#header{
    background-color: #00a88f;
    color: white;
}

section#header h1{
    font-size: 3rem;
}
